/* *************************************************************
GENERAL
************************************************************* */

* {
  outline: none;
}

.wrap {
  width: 90%;
  max-width: 1100px;
  margin: 0px auto;
}

.nav {
  width: 95%;
}

body, h1, h3{
  font-family: 'Raleway', sans-serif;
}

/* *************************************************************
NAV - MOBILE
************************************************************* */

.title-bar {
  background-color: #222;
  height: 60px;
  padding-top: 17px
}

#mobile-menu {
  background-color: #222;
  padding: 10px;
}

#mobile-menu li {
  list-style: none;
}

#mobile-menu a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  line-height: 2;
}

#mobile-menu a hover {
  color: rgba(255, 255, 255, 0.8);
}


/* *************************************************************
NAV - DESKTOP
************************************************************* */
.nav-desktop {
  background-color: #222;
  height: 80px;
  padding: 0px;
  background-image: url("../images/noisy_net.png");
}

.site-logo {
  width: 100px;
  length: 100px;
  margin-left: 50px;
  margin-top: 15px;
}

.nav-desktop .menu-desktop {
  line-height: 80px;
  background-color: transparent;
}

.menu > li >a {
  display: inline-block;
  line-height: 100px;
  padding: 10px 10px;
  color: white;
  transition: all .30s ease-in-out;
  letter-spacing: 2px;
  font-size: 15px;
  margin-left: 30px;
}

.menu > li > a:hover {
  box-shadow: 0 4px 0 #FFF inset;
  opacity: 0.5;
  -webkit-transition: opacity .30s ease-in-out;
  -moz-transition: opacity .30s ease-in-out;
  -ms-transition: opacity .30s ease-in-out;
  -o-transition: opacity .30s ease-in-out;
  transition: opacity .30s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}

.menu > li > a:active {
  box-shadow: 0 4px 0 #FFF inset;
}

/* *************************************************************
HERO
************************************************************* */

.hero {
  background-color: #999;
  padding: 250px 0px 80px 0px;
  height: 100vh;
  background-image: url("../images/noisy_net.png");
}

.hero h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  width: 445px;
  height: 60px;
  font-size: 60px;
}

.hero h1,
.hero p {
  color: rgba(255, 255, 255, 0.8);
}

.hero p {
  text-align: center;
  margin-top: 5px;
}

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
   }

.strike > span {
  position: relative;
  display: inline-block;
   }

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 30%;
  height: 1px;
  background: white;
   }

.strike > span:before {
  right: 100%;
  margin-right: 15px;
   }

.strike > span:after {
  left: 100%;
  margin-left: 15px;
   }

/* *************************************************************
MAIN SECTION
************************************************************* */

.main {
  padding: 80px 0px;
  background-image: url("../images/gray_sand.png");
  height: 100vh;
}

.about-me {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 80px;
  text-align: center;
}

.about-me h1::before {
  left: -15px;
}

.about-me h1::after {
  left: 15px
}

.about-me h1::before,
.about-me h1::after {
  content: '';
  width: 10px;
  height: 10px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  background-color: #ffffff;
  top: -2px;
}

.about-me .side1 {
  float: left;
  text-align: left;
  width: 50%;
  padding: 0px 20px;
  margin-top: 30px;
}

.side1 {
  border-right: 1px solid #ffffff;
}

.about-me .side2 {
  float: right;
  text-align: left;
  width: 50%;
  padding: 0px 20px;
  margin-top: 30px;
}

.hero svg {
	position: absolute;
  left: 520px;
  top: 400px;
	width: 30px;

	animation: chevronAnimation 4s ease-in-out 0s infinite;
}

.hero svg path
{
	fill: #FFF;
}

.fromLeftIn
{
	transition: transform 1.0s ease, opacity 1.0s ease;

	transform: translate(0,0);
	opacity: 1.0;
}

.fromLeftOut
{
	transition: transform 1.0s ease, opacity 1.0s ease;

	transform: translate(-10px,0);
	opacity: 0.0;
}

.fromTopIn
{
	transition: transform 1.0s ease, opacity 1.0s ease;

	transform: translate(0,0);
	opacity: 1.0;
}

.fromTopOut
{
	transition: transform 1.0s ease, opacity 1.0s ease;

	transform: translate(0,-10px);
	opacity: 0.0;
}

@keyframes chevronAnimation {
	0% {
		transform: translate(0,0) scale(1.0,1.0);
	}
	50% {
		transform: translate(0,5px) scale(0.8,0.8);
	}
	100% {
		transform: translate(0,0) scale(1.0,1.0);
	}
}


/* *************************************************************
PORTFOLIO
************************************************************* */

.example-of-works {
  padding: 80px 0px;
  height: 100vh;
  width: 100%;
  background-image: url("../images/concrete_wall.png");
  color: rgba(255 , 255 ,255, 0.8);
}

.works {
  width: 80%;
}

.works h1 {
 margin-bottom: 30px;
 text-align: center;
}

.works h1::before {
  left: -15px;
}

.works h1::after {
  left: 15px
}

.works h1::before,
.works h1::after {
  content: '';
  width: 10px;
  height: 10px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  background-color: rgba(255 , 255 ,255, 0.8);
  top: -2px;
}

.video {
  width: inherit;
  height: inherit;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.video::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.video:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.video:hover::after {
    opacity: 1;
}

.video-summary {
  float: right;
  width: 30%;
  position: relative;
  top: -400px;
}

.skillset {
  background-color: #999;
  padding: 250px 0px 80px 0px;
  height: 100vh;
  background-image: url("../images/noisy_net.png");
}

.circlebase {
  border-radius: 50%;
}

.circle1 {
  width: 250px;
  height: 250px;
  background: #EF6D3B;
  text-align: center;
  display : block;
  border: 3px solid red;
  transition: all .30ms ease-in-out;
}

.circle1 img {
  width: 150px;
  height: 150px;
  vertical-align: middle;
  margin-top: 45px;
}

.circle1:hover {
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.fromBottomIn {
  transition: transform 1.0s ease, opacity 1.0s ease;

  transform: translate(0,0);
  opacity: 1.0;
}

.fromBottomOut {
  transition: transform 1.0s ease, opacity 1.0s ease;

  transform: translate(0,10px);
  opacity: 0.0;
}

@keyframes stretch {
  0% {
    border-radius: 50%;
    transform: rotate(0deg);
  }

  50%{
    border-radius: 20%
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(45deg);
    border-radius: 0%;
    }
}


/* *************************************************************
FOOTER
************************************************************* */

footer {
  padding: 50px 0px 30px 0px;
  background-color: #222;
}

footer h4 {
  color: rgba(255, 255, 255, 0.3);
  font-size: 1.3em;
}

footer hr {
  border-color: rgba(255, 255, 255, 0.1);
  margin: 10px 0px;
}

footer a {
  display: block;
  color: rgba (255, 255, 255, 0.6);
  font-size: 0.8em;
}

footer a span {
  font-weight: bold;
  color: rgba (255, 255, 255, 0.3);
}

footer a:hover {
  color: rgba (255, 255, 255, 0.8);
}

/* *************************************************************
MEDIA QUERY
************************************************************* */

@media (max-width: 639px) {
  .nav-desktop {
    display: none;
  }
}

@@media (max-width: 875px){
  .hero h1,
  .hero p {
    width: 100%;
  }
}
