/* *************************************************************
GENERAL
************************************************************* */

* {
  outline: none;
}

.wrap {
  width: 90%;
  max-width: 1100px;
  margin: 0px auto;
}

.nav {
  width: 95%;
}

body, h1, h3{
  font-family: 'Raleway', sans-serif;
}

/* *************************************************************
NAV - MOBILE
************************************************************* */

.title-bar {
  background-color: #222;
  height: 60px;
  padding-top: 17px
}

#mobile-menu {
  background-color: #222;
  padding: 10px;
}

#mobile-menu li {
  list-style: none;
}

#mobile-menu a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  line-height: 2;
}

#mobile-menu a hover {
  color: rgba(255, 255, 255, 0.8);
}


/* *************************************************************
NAV - DESKTOP
************************************************************* */
.nav-desktop {
  background-color: #26262a;
  height: 80px;
  padding: 0px;
}

.site-logo {
  width: 100px;
  length: 100px;
  margin-left: 50px;
  margin-top: 15px;
}

.nav-desktop .menu-desktop {
  line-height: 80px;
  background-color: transparent;
}

.menu > li > .important {
  display: inline-block;
  line-height: 100px;
  padding: 10px 10px;
  color: white;
  transition: all .30s ease-in-out;
  letter-spacing: 2px;
  font-size: 15px;
  margin-left: 30px;
}

.menu > .really-important > a:hover {
  box-shadow: 0 4px 0 #FFF inset;
  opacity: 0.5;
  -webkit-transition: opacity .30s ease-in-out;
  -moz-transition: opacity .30s ease-in-out;
  -ms-transition: opacity .30s ease-in-out;
  -o-transition: opacity .30s ease-in-out;
  transition: opacity .30s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}

.menu > li > .button {
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
  margin-left: 20px;
  color: rgba(255,255,255, 0.9);
  border-color: rgba(255,255,255,0.9);
}

.button.hollow:hover, .button.hollow:focus {
  color: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.4);
}

/* *************************************************************
HERO
************************************************************* */

.hero {
  background-color: #26262a;
  padding: 250px 0px 80px 0px;
  height: 100vh;
}

.hero h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  font-size: 70px;
}

.hero h1,
.hero p {
  color: rgba(255, 255, 255, 0.8);
}

.hero p {
  text-align: center;
  margin-top: 5px;
  font-size: 18px;
}

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
   }

.strike > span {
  position: relative;
  display: inline-block;
   }

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 30%;
  height: 1px;
  background: white;
   }

.strike > span:before {
  right: 100%;
  margin-right: 15px;
   }

.strike > span:after {
  left: 100%;
  margin-left: 15px;
   }

/* *************************************************************
MAIN SECTION
************************************************************* */

.main {
  padding: 80px 0px;
  background-color: #edeeef;
  height: auto;
  padding-bottom: 15em;
}

.about-me {
  color: rgba(0, 0, 0, .9);
  margin-top: 80px;
  letter-spacing: 1px;
  text-align: center;
}

.about-me h1 {
  margin-bottom: 1.5em;
}

.about-me p{
  font-size: 16px;
  line-height: 2em;
}

/* DIAMONDS
.about-me h1::before {
  left: -15px;
}

.about-me h1::after {
  left: 15px
}

.about-me h1::before,
.about-me h1::after {
  content: '';
  width: 10px;
  height: 10px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  background-color: #000000;
  top: -2px;
}
*/

.about-me .side1 {
  float: left;
  text-align: center;
  width: 50%;
  padding: 0px 20px;
  margin-top: 30px;
}

.side1 strong {
  color: #ff3b3f;
}

.about-me hr {
  width: 10%;
  border-bottom-color: #353439;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-me img{
  float: right;
}

.about-me .profile {
  float: right;
  vertical-align: top;
  display: inline-block;
  width: 350px;
  height: 350px;
  margin-top:70px;
}

.hero svg {
	position: absolute;
  left: 520px;
  top: 250px;
	width: 30px;

	animation: chevronAnimation 4s ease-in-out 0s infinite;
}

.hero svg path
{
	fill: #FFF;
}

.fromLeftIn
{
	transition: transform 1.0s ease, opacity 1.0s ease;

	transform: translate(0,0);
	opacity: 1.0;
}

.fromLeftOut
{
	transition: transform 1.0s ease, opacity 1.0s ease;

	transform: translate(-10px,0);
	opacity: 0.0;
}

.fromTopIn
{
	transition: transform 1.0s ease, opacity 1.0s ease;

	transform: translate(0,0);
	opacity: 1.0;
}

.fromTopOut
{
	transition: transform 1.0s ease, opacity 1.0s ease;

	transform: translate(0,-10px);
	opacity: 0.0;
}

@keyframes chevronAnimation {
	0% {
		transform: translate(0,0) scale(1.0,1.0);
	}
	50% {
		transform: translate(0,5px) scale(0.8,0.8);
	}
	100% {
		transform: translate(0,0) scale(1.0,1.0);
	}
}


/* *************************************************************
PORTFOLIO
************************************************************* */

.hero2 {
  background-color: #26262a;
  padding: 250px 0px 80px 0px;
  height: 100vh;
}

.hero2 h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  font-size: 70px;
}

.hero2 h1,
.hero2 p {
  color: rgba(255, 255, 255, 0.8);
}

.hero2 p {
  text-align: center;
  margin-top: 16px;
  font-size: 18px;
}

.skillset {
  text-align: center;
}

.example-of-works {
  padding: 160px 0px 80px 0px;
  height: auto;
  width: 100%;
  color: rgba(0, 0 ,0, 0.9);
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 2em;
}

.works {
  width: 70%;
  float: left;
}

.example-of-works h1 {
 margin-bottom: 30px;
 text-align: center;
}

.example-of-works h1::before {
  left: -15px;
}

.example-of-works h1::after {
  left: 15px
}

.example-of-works h1::before,
.example-of-works h1::after {
  content: '';
  width: 10px;
  height: 10px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  background-color: rgba(0 , 0 ,0, 0.8);
  top: -2px;
}

.video {
  width: 90%;
  height: inherit;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  width: 640px;
  height: 360px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.video::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  opacity: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.video:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transition: scale(1.1, 1.1);
  -ms-transition: scale(1.1, 1.1);
  -o-transition: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.video:hover::after {
    opacity: 1;
}

.video-summary p{
  float: right;
  width: 30%;
  position: relative;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 2em;
}

.skillset {
  background-color: #edeeef;
  padding: 100px 0px 0px 0px;
  height: auto;
}

.skillset p {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 2em;
}

.skillset .row {
  padding-bottom: 30px;
}

.circle1 {
  margin: 0 auto;
  width: 160px;
  height: 160px;
}


.circle2 {
  margin: 0 auto;
  width: 160px;
  height: 160px;
}

.circle3 {
  margin: 0 auto;
  width: 160px;
  height: 160px;
}

.circle1,
.circle2,
.circle3 {
  display : block;
  -webkit-transition: all 1s; /* Safari 4+ */
  -moz-transition   : all 1s; /* Fx 5+ */
  -o-transition     : all 1s; /* Opera 12+ */
  transition        : all 1s ease-in-out;
  opacity: 0.7;
}

.circle1:hover,
.circle2:hover,
.circle3:hover {
  opacity: 1;
  animation-name: stretch;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.text1,
.text2,
.text3 {
  margin-top: 45px;
}

.fromBottomIn {
  transition: transform 1.0s ease, opacity 1.0s ease;

  transform: translate(0,0);
  opacity: 1.0;
}

.fromBottomOut {
  transition: transform 1.0s ease, opacity 1.0s ease;

  transform: translate(0,10px);
  opacity: 0.0;
}

.fromRightIn {
  transition: transform 1.0s ease, opacity 1.0s ease;

  transform: translate(0,0);
  opacity: 1.0;
}

.fromRightOut {
  transition: transform 1.0s ease, opacity 1.0s ease;

  transform: translate(10px,0);
  opacity: 0.0;
}

@keyframes stretch {
  0% {
    transform: rotate(0) translateY(0);
  }

  50%,100% {
    transform: rotate(0.1deg) translateY(-10px);
    }

}


/* *************************************************************
CONTACT
************************************************************* */

.contact {
  padding: 80px 0px;
  padding-top: 20%;
  background-color: #ffffff;
  height: 100vh;
  text-align: center;
}

.contact h1 {
  font-family: 'Lora', serif;
  font-size: 2.5em;
}

.contact p {
  padding-top: 10px;
  width: 70%;
  line-height: 1.8em;
  color: rgba(26,26,26,.7);
  margin: auto;
}

.contact span{
  text-decoration: underline;
}

.map {
  width: 100%;
}

/* *************************************************************
FOOTER
************************************************************* */

.outer-footer {
  background-color: #353439;
  padding: 20px;
}

.outer-footer p {
  margin: 0px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Lora', serif;
  font-size: 25px;
}

.outer-footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.outer-footer a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

footer {
  padding: 50px 0px 30px 0px;
  background-color: #26262a;
  text-align: center;
}

footer h4 {
  color: rgba(255, 255, 255, 0.3);
  font-size: 1.3em;
}

footer a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  font-size: .9em;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
}

footer a:hover {
  color: rgba(255, 255, 255 , 0.9);
}

footer a:focus {
  color: rgba(255, 255, 255, 0.7);
}

.contact-info {
  font-size: 25px;
  margin: 20px;
  color: rgba(255 ,255, 255, 0.5)
}

.contact-info a:hover {
  color: rgba(255, 255, 255 , 1);
}

.contact-info a:focus {
  color: rgba(255, 255, 255, 0.7);
}

.contact-info a:active {
  color: rgba(255, 255, 255, 0.7);
}

.copyright {
  margin-top: 10px;
  font-size:12px;
  color: rgba(255, 255, 255, 0.3);
}

/* *************************************************************
MEDIA QUERY
************************************************************* */

@media (max-width: 639px) {
  .nav-desktop .top-bar-left ,
  svg {
    display: none;
  }

.menu > li > a {
  margin-left: 5px
}

  .nav-desktop .top-bar-right {
    font-size: 100%;
    margin-left: 5px;
  }

  .about-me .side1 {
    width: 100%;
    border-right: 0px;
    float: none;
    text-align: center;
    padding-bottom: 20px;
  }

  .about-me .side2{
    width: 100%;
    border-right: 0px;
    padding: 0px 20px;
    float: none;
    text-align: center;
  }

  .main {
    height: 80em;
  }

  .hero h1 , .hero2 h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 640px){

  .circle1, .circle2, .circle3 {
    margin-top: 15px;
    width: 130px;
    height: 130px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}


@media (max-width: 640px){
  .video iframe{
    width: auto;
    height: auto;
  }

  .works > div > .video {
    height:inherit;
    width: inherit;
  }

  .video-summary p{
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 875px){
  .hero h1,
  .hero p,
  .hero2 h1,
  .hero2 p {
    width: 100%;
  }
}

@media (max-width: 1240px){
  .hero svg {
    left: 50%;
  }
}

@media (max-width: 994px){
  .contact div {
    width: 100%;
  }
  .contact{
    height: 28em;
    padding-top: 20%;
  }
}
